/* External Fonts */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "tailwindcss";

body {
  background-color: var(--primary-color);
  color: var(--secondary-color); 
}

:root {
  --primary-color: #C5BAFF;
  --secondary-color: #FBFBFB;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

-webkit-scrollbar {
  display: none;
}

/* Tailwind CSS Theme Variables (Converted HEX to oklch) */
/* Resource -> https://oklch.com/ */
/*
@theme {

  /* Font Family */
  --font-display: "MuseoModerno", "sans-serif";
  --font-display: "Bebas Neue", "sans-serif";

  /* Color Scheme */
  --color-primary: oklch(0.82 0.0965 291.43);
  --color-secondary: oklch(0.99 0 0);
  --color-tertiary: oklch(0.88 0.057371 262.3054);
  --color-light-blue-100: oklch(0.97 0.0196 220.86);
  --color-hover: oklch(0.6 0.2241 284.72);
  --color-sidebar-primary: oklch(0.71 0.1627 288.8);
}
*/