/* game selection container  */
.game-selection-container{ 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	position: absolute;
	width: 990px;
	height: 217px;
	background: #ede9e8;
	box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
	border-radius: 32px;
}

/* game 5 container */
.game-5-container{
	width: 167px;
	height: 169px;
	align-self: center;
	background: #FBFBFB;
	box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-inline: 1rem;
	text-align:center;
	font-size: 2rem;

}

.game-5-container:hover{
	border: 10px solid #C4D9FF;
}

/* game 4 container */
.game-4-container{
	width: 167px;
	height: 169px;
	background: #FBFBFB;
	align-self: center;
	box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-inline: 1rem;
	text-align:center;
	font-size: 2rem;
}

.game-4-container:hover{
	border: 10px solid #C4D9FF;
}


/* game 3 container */
.game-3-container{
	width: 167px;
	height: 169px;
	background: #FBFBFB;
	align-self: center;
	box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-inline: 1rem;
	text-align:center;
	font-size: 2rem;
}

.game-3-container:hover{
	border: 10px solid #C4D9FF;
}

/* game 2 container */
.game-2-container{
	width: 167px;
	height: 169px;
	background: #FBFBFB;
	align-self: center;
	box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-inline: 1rem;
	text-align:center;
	font-size: 2rem;
}

.game-2-container:hover{
	border: 10px solid #C4D9FF;
}

/* game 1 container */
.game-1-container{
	width: 167px;
	height: 169px;
	background: #FBFBFB;
	align-self: center;
	box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	margin-inline: 1rem;
	text-align:center;
	font-size: 2rem;
}

.game-1-container:hover{
	border: 10px solid #C4D9FF;
}
